body {
  background: #f8f8f8;
}
.exchange {
  padding: 15px 20px;
}
.exchange h1 {
  font-size: 1.375rem;
  color: #696969;
}
.exchange .inputbox {
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  margin: 8px 0;
}
.exchange .inputbox .redeemcode {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  height: 100%;
  line-height: 40px;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  padding: 5px 10px;
}
.exchange .inputbox .exchangebtn {
  display: block;
  width: 80px;
  height: 100%;
  line-height: 40px;
  margin-left: -1px;
  text-align: center;
  font-size: 1.125rem;
  color: #ffffff;
  background: #ff5555;
}
.exchange .rules {
  color: #ff5555;
}
.container .title {
  background: #ffffff;
  text-align: center;
  padding: 20px;
}
.container .title h2 {
  font-size: 1.5rem;
}
.container .title p {
  color: #696969;
}
.container .step {
  padding: 20px 16px;
}
.container .step h3 {
  color: #696969;
  margin-bottom: 10px;
}
.container .step h3 .stage {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background: #ff5555;
  color: #ffffff;
  text-align: center;
  margin-right: 5px;
}
.container .step h3 b {
  color: #000000;
}
.container .step:nth-child(odd) {
  background: #ffffff;
}
.pt {
  padding-top: 50px;
}
.invitebtn {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  height: 50px;
  line-height: 50px;
  background: #ff5555;
  color: #ffffff;
  text-align: center;
  font-size: 1.375rem;
}
