.brand-details .brand-banner {
  position: relative;
}
.brand-details .brand-banner .brand-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  font-weight: bold;
  padding: 0 0 0 100px;
  background: rgba(0, 0, 0, 0.5);
}
.brand-details .brand-banner .brand-info .brand-logo {
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
}
.brand-details .brand-banner .brand-info > img {
  width: 20px;
  height: auto;
}
.brand-details .brand-describe {
  position: relative;
  background: #ffffff;
  padding: 12px 12px 40px;
}
.brand-details .brand-describe > p {
  font-size: 0.875rem;
  height: auto;
  line-height: 1.5em;
  color: #6f6f6f;
}
.brand-details .brand-describe > p.hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.brand-details .brand-describe .arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 20px;
  background: url("../images/brand-arrowdown.png") no-repeat center center;
  background-size: 18px auto;
}
.order-tab .order-tab-list {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #f0f0f0;
}
.order-tab .order-tab-list li {
  float: left;
  width: 25%;
  height: 35px;
  text-align: center;
}
.order-tab .order-tab-list li a {
  display: block;
  color: #666;
  font-size: 0.875rem;
}
.order-tab .order-tab-list li.on a {
  color: #ff5555;
}
