.problem-list {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
    margin-bottom: 10px;
}
.problem-list dt {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 10px;
}
.problem-list dt i.icon-himeiji{
    color: #ff5555;

}
.problem-list dd{
    font-size: 0.875rem;
    padding: 10px 10px 10px 30px;
}