.cf55{
    color: #ff5555;
}
.fund-total {
    display: block;
    height: 55px;
    line-height: 55px;
    background: #ffffff;
    padding: 0 10px;
    color: #333;
    border-bottom: 1px solid #e0e0e0 !important;
    zoom: 1;
}
.fund-total:after {
    content: '';
    display: block;
    clear: both;
}
.fund-total > i.icon-himeiji{
    font-size: 1.25rem;
}
.fund-total .total-money{
    font-size: 1.25rem;
}
.fund-total .bill{
    float: right;
}
.fund-count {
    height: 132px;
    margin-top: 10px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
}
.fund-count .fund-count-item {
    float: left;
    width: 50%;
    height: 66px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
.fund-count .fund-count-item:nth-child(odd){
    border-right: 1px solid #e0e0e0;
}
.fund-count .fund-count-item p{
    line-height: 23px;
}
.fund-count .fund-count-item p:first-child{
    color: #888;
}
.fund-option,
.partner-option{
    zoom: 1;
    padding: 10px 0;
}
.fund-option:after,
.partner-option:after{
    content: '';
    display: block;
    clear: both;
}
.fund-option .option-btn{
    background: #ff5555;
}
.partner-option .option-btn{
    background: #f7b933;
}
.option-btn {
    float: left;
    display: block;
    width: 40%;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    margin: 0 5%;
}
.partner-total{
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.partner-total .total-wrap{
    height: 55px;
    line-height: 55px;
    background: #ffffff;
    padding: 0 10px;
    color: #333;
    border-bottom: 1px solid #e0e0e0 !important;
}
.partner-total .total-wrap > i.icon-himeiji{
    font-size: 1.25rem;
}
.partner-total .partner-wrap {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    height: 66px;
}
.partner-total .partner-wrap .partner-level {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 33%;
    height: 100%;
    padding: 10px 5px;
    text-align: center;
}
.partner-total .partner-wrap .partner-level:nth-child(2) {
    width: 34%;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.partner-total .partner-wrap .partner-level p{
    line-height: 23px;
}
.partner-total .partner-wrap .partner-level p:first-child {
    color: #888;
}