.m-swiper-tabs{
    top: 115px;
}
.swiper-container{
    top: 150px;
}
.show-money-pt{
    padding-top: 70px;
}
.show-money{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 70px;
    line-height: 26px;
    padding: 17px 15px;
    border-bottom: 10px solid #f0f0f0;
    background: #ffffff;
    font-size: 0.875rem;
}
.show-money .left, .right{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.show-money .right{
    text-align: right;
}
.show-money .right a {
    display: inline-block;
    padding: 0 6px;
    height: 26px;
    line-height: 26px;
    border-radius: 6px;
    text-align: center;
    color: #ffffff;
    background: #ff5555;
}
