@charset "UTF-8";

/**
 * @authors petrus.law (you@example.org)
 * @date    2015-07-20 15:06:33
 * @version 基础样式
 */


.container{ overflow: hidden; min-height: 100%; }

.loading-warp{ display: table; width: 100%; margin-top: -6rem; }
.loading-warp .box{ width: 100%; padding-top: 1rem; padding-bottom: 1rem;
 display: table-cell; text-align: center; vertical-align: middle; }
.loading-warp .box img{ display: block; width: 1.6rem; height: 1.6rem; margin: 0 auto; }
.loading-warp .box .text{ display: block; text-align: center; font-size: 0.75rem; 
	line-height: 0.8rem; opacity: 0.7; margin-top: 1.4rem; }
