/*商品分类排序顶部标签*/
.product-sort-tab{
    padding-top: 35px;
}
.product-sort-tab .sort-tab-list{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
}
.product-sort-tab .sort-tab-list li{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.product-sort-tab .sort-tab-list li a {
    display: block;
    color: #666;
    font-size: 0.875rem;
}
.product-sort-tab .sort-tab-list li.on{
    border-bottom: 2px solid #ff5555;
}
.product-sort-tab .sort-tab-list li.on a{
    color: #ff5555;
}
.order-tab{
    padding-top: 35px;
}
.order-tab .order-tab-list{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #f0f0f0;
    position: fixed;
    top: 80px;
    /*left: 0;
    right: 0;*/
	max-width: 640px;
}
.order-tab-top .order-tab-list{
    top: 45px;
}
.order-tab .order-tab-list li{
    float: left;
    width: 25%;
    height: 35px;
    text-align: center;
}
.order-tab .order-tab-list li a {
    display: block;
    color: #666;
    font-size: 0.875rem;
}
.order-tab .order-tab-list li.on a{
    color: #ff5555;
}
/*产品列表底部*/
.goods-sort-choose{
    padding-bottom: 45px;
}
.goods-sort-choose .choose-list{
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    font-size: 0.875rem;
    background: #f0f0f0;
    z-index: 999;
}
.goods-sort-choose .choose-list li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #666666;
}
.goods-sort-choose .choose-list li input[type="checkbox"]{
    vertical-align: text-top;
}