@charset "utf-8";



.m-body-color{width:100%;height:100%;background:#00a99d;overflow-x:hidden;}

.m-turnplate{width:100%;max-width:720px;position:absolute;left:0;top:45px;margin-left:auto;margin-right:auto;text-align: center;}
.m-turnplate .turntable_img{width:68%;margin-top:37%;}
.m-turnplate canvas.content{width:100%;margin-top:20%;}
.m-turnplate img.border{position:absolute;width:100%;left:0px;top:0px;}
.m-turnplate img.pointer{position:absolute;width:20%;left:40.5%;top:50%;}

.m-turnplate-info{width:100%;background:#ff0000;margin-top:-47.5%;z-index:9;}
.m-btn-div{width:42%;text-align:center;position: relative;z-index:10;}
.m-float-left{float:left;margin-left:6.5%;}
.m-float-right{float:right;margin-right:6.5%;}

.m-btn-div span{width:100%;height:100%;padding:10px;color:#ffffff;font-size:1.1rem;position: absolute;top:2%;left:0;}



.m-surplus-num{color:#ffffff;text-align:center;width:100%;font-size:1.3rem;}
.m-surplus-num span{color:#ffffff;font-size:2.2rem;}

.m-act-desc{color:#ffffff;text-align:center;width:100%;font-size:0.9rem;}





/*底部按钮 */
.m-tb-bottom-bar {position: fixed;bottom: 0;left: 0;right: 0;z-index: 888;width: 100%;height: 50px;background: #ffffff;line-height: 50px;font-size: 1.05rem;}
.m-tb-bottom-bar .m-btn-winning-list{width: 50%;background: #0094a4;height: 100%;float:left;display: inline-block;color: #ffffff;text-align: center;}
.m-tb-bottom-bar .m-btn-goto-index{width: 50%;background: #007d8a;height: 100%;float:right;display: inline-block;color: #ffffff; text-align: center;}


/*弹出提示*/


.m-tip-div{width:100%;height:100%;position:relative;display:none;}
.m-tip-content-div{position:absolute;left:15px;top:15px;width:90%;}
.m-btn-close{width:30px;height:30px;float:right;margin-top:-20px;margin-right:-15px;}
.m-tip-title{padding:10px;width:100%;color:#ffffff;font-size:1.7rem;display: inline-block;text-align: center;}
.m-tip-desc{padding:5px;width:100%;color:#ffffff;font-size:1.2rem;text-align:center;}
.m-tip-prize{margin:auto;margin-top:10px;width:110px;height:110px;border-radius:15px;background:#ffffff;text-align:center;}
.m-tip-prize img{padding:10px 10px 10px 10px;width:90px;}
.m-tip-btn-look{width:55%;height:100px;text-align:center;position:relative;margin:auto;margin-top:5px;}
.m-tip-btn-look span{width:100%;color:#ffffff;font-size:1.2rem;position: absolute;top:6.5%;left:0;line-height: 40px;text-align: center;}


@media screen and (max-width: 414px){

	.m-btn-div span{top:6%;font-size:1.2rem;}
	
	.m-tip-title{padding-top:20px;}
	.m-tip-prize{width:140px;height:140px;}
	.m-tip-prize img{width:120px;}
	.m-tip-btn-look span{font-size:1.4rem;top:10%;}
}

@media screen and (max-width: 376px){

	.m-btn-div span{top:6%;font-size:1.1rem;}
	
	.m-tip-title{padding-top:20px;}
	.m-tip-prize{width:120px;height:120px;}
	.m-tip-prize img{width:100px;}
	.m-tip-btn-look span{font-size:1.2rem;top:7%;}
}

@media screen and (max-width: 321px){

	.m-btn-div span{top:0px;font-size:1.0rem;}
	
	.m-tip-title{padding-top:10px;font-size:1.4rem;}
	.m-tip-prize{width:100px;height:100px;}
	.m-tip-prize img{ width:80px;}	
	.m-tip-btn-look span{font-size:1.1rem;top:4%;}
	
}



