.viewport{
    padding: 20px 15px;
    border: 3px solid #ff5555;
    background: #ffffff;
}
.container dd{
    display: -webkit-box;
    padding: 15px;
    height: 185px;
}
.container dd .left, .right {
    width: 50%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 10px;
}
.container dd a{
    display: block;
}
.container dd p .fir{
    font-size: 1.5rem;
}
.container dd p .sec{
    font-size: 1rem;
    color: #9d9d9d;
}
.container dd .num {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    background: #ff5555;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}
.container dd a.btn {
    display: inline-block;
    height: 20px;
    line-height: 18px;
    padding: 0 8px;
    border: 1px solid #ff5555;
    color: #ff5555;
    font-size: 0.875rem;
    border-radius: 20px;
}
dd.line{
    width: 80%;
    margin: 15px auto;
    padding: 0;
    height: 1px;
    background: #f0f0f0;
    -webkit-box-shadow: 0 0 10px 1px #ffcdcd;
    box-shadow: 0 0 10px 1px #ffcdcd;
}
.viewport > p{
    text-align: center;
}
.slogan_1{
    font-size: 1.5rem;
}
.slogan_2{
    font-size: 1.625rem;
    color: #ff5555;
}
.slogan_3{
    font-size: 1.125rem;
    color: #9d9d9d;
}
.slogan_4{
    font-size: 1.125rem;
    color: #ff5555;
}
.slogan_5{
    display: block;
    width: 70%;
    margin: 15px auto;
}