
body {font-family : 微软雅黑,宋体; margin:auto;padding:0;max-width:640px;-webkit-text-size-adjust:none;}
hr{width:90%;margin-left:5%;}

.swiper-slide img{width:100%;height:100%;}
.m-width-max{width:100%;}

.m-map-img{width:100%;height:auto;}
.m-map-img .item-map{margin:20px 20px 5px 20px;}
.m-map-img img{width:100%;}
.m-map-img .item-find-map{line-height:1.5rem;margin：auto;text-align:center;font-size:0.875rem;}

.m-open-all{font-size:0.875rem;color:#323232;margin:auto;text-align:center;}
.m-open-all img{width:18px;}


.m-p-detail{margin:20px 20px 10px 20px; overflow:hidden;color:#646464;height:110px;font-size:0.875rem;color:#969696;}

.m-poi-title{line-height:30px;height:30px;vertical-align:middle}
.m-poi-title .title{color:#323232;font-weight:blod;font-size:1.0rem;}
.m-poi-title .icon{width:18px;margin-bottom:-3px;}


.m-text-desc{color:#646464;margin-left:21px;line-height:1.3rem;}

.m-info-item{margin:0 20px 0 20px;font-size:0.875rem;line-height:1.3rem;overflow:hidden;}

.m-other-spots{width:100%; height:110px;overflow-x:scroll; }
.m-other-spots img{width:125px; height:85px;float:left;margin:10px 10px 10px 0;}

